{% ckan_extends %}

{% block footer_content %}
  {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
  <ul class="inline list-wide">
    <li><a href="/pages/informacion-datos-abiertos">¿Qué son los datos abiertos?</a></li>
    <li><a href="/pages/info-plataforma-ckan">Información plataforma CKAN</a></li>
    <li><a href="/pages/aviso-legal">Aviso Legal, Política de cookies y Accesibilidad</a></li>
    <li><a href="/pages/api-open-data">API</a></li>
  </ul>
{% endblock %}



            

